<h2>Word Showcase</h2>
<h3><%= @word.word %></h3>
<% if @word.definitions.any? %>
<h4>Definitions for <%= @word.word %>:</h4>
  <ul>
    <% @word.definitions.each do |definition| %>
      <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no definitions for this word yet!</p>
<% end %>
<h4>Add a definition:</h4>
<form action="/words/<%= @word.id %>/definitions" method="post">
<div class="form-group">
  <label for="definition">How would you define this word?</label>
  <input id="definition" name="definition" class="form-control" type="text" required>
</div>
<button type="submit" class="btn btn-primary">Add definition!</button>
</form>
<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<a href="/words">Return to word list</a>